In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data/scores.csv')
df[(df['team1'] == 'Philadelphia Eagles') & (df['team2'] == 'Miami Dolphins') & (df['week'] == '1999 Week 7')]
# x = score_diff
# q = quarter
# m = max_lead
# 50 + (x ** 2 / (5 - q)) - ((1 - x/m) * (5-q))

,Unnamed: 0,Quarter,Time,Tm,Detail,team1_score,team2_score,week,date,team1,team2
0,0,1.0,6:05,Dolphins,Olindo Mare 37 yard field goal,0,3,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
1,1,1.0,1:04,Dolphins,J.J. Johnson 18 yard rush (Olindo Mare kick),0,10,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
2,2,2.0,11:10,Eagles,David Akers 53 yard field goal,3,10,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
3,3,2.0,6:26,Dolphins,Olindo Mare 37 yard field goal,3,13,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
4,4,3.0,3:47,Eagles,Brian Dawkins 67 yard interception return (Nor...,10,13,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
5,5,4.0,14:55,Dolphins,Olindo Mare 53 yard field goal,10,16,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins
6,6,4.0,6:08,Eagles,Norm Johnson 44 yard field goal,13,16,1999 Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins