In [14]:
import pandas as pd
import os
import sys
module_path = os.path.abspath(os.path.join('.'))
if module_path not in sys.path:
    sys.path.append(module_path)
from calculate import Scorer

In [25]:
df = pd.read_csv('../data/scores.csv')
df = df.set_index('Unnamed: 0', drop=False)
df['year'] = df.apply(lambda row: row['week'].split()[0], axis=1)
df['week'] = df.apply(lambda row: row['week'].split(None, 1)[1], axis=1)
df

,Unnamed: 0,Quarter,Time,Tm,Detail,team1_score,team2_score,week,date,team1,team2,year
Unnamed: 0,,,,,,,,,,,,
0,0,1.0,6:05,Dolphins,Olindo Mare 37 yard field goal,0,3,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999
1,1,1.0,1:04,Dolphins,J.J. Johnson 18 yard rush (Olindo Mare kick),0,10,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999
2,2,2.0,11:10,Eagles,David Akers 53 yard field goal,3,10,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999
3,3,2.0,6:26,Dolphins,Olindo Mare 37 yard field goal,3,13,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999
4,4,3.0,3:47,Eagles,Brian Dawkins 67 yard interception return (Nor...,10,13,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999
...,...,...,...,...,...,...,...,...,...,...,...,...
113569,113569,3.0,NaN,Cowboys,Daryl Johnston 1 yard rush (Eddie Murray kick),27,6,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993
113570,113570,3.0,NaN,Vikings,Scottie Graham 1 yard rush (Fuad Reveiz kick),27,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993
113571,113571,4.0,NaN,Cowboys,Eddie Murray 46 yard field goal,30,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993
113572,113572,4.0,NaN,Cowboys,Lincoln Coleman 1 yard rush (Eddie Murray kick),37,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993
113573,113573,4.0,NaN,Vikings,Anthony Carter 9 yard pass from Sean Salisbury...,37,20,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993

In [26]:

for group_name, df_group in df.groupby(['date', 'team1', 'team2']):
    rows = df_group.iterrows()
    length = len(list(rows))
    scorer1 = Scorer()
    scorer2 = Scorer()
    
    for row_index, row in df_group.iterrows():
        score1 = scorer1.calculate(float(row['team1_score']), float(row['team2_score']), row['Quarter'], row_index == length - 1)
        score2 = scorer2.calculate(float(row['team2_score']), float(row['team1_score']), row['Quarter'], row_index == length - 1)
        df.at[row['Unnamed: 0'], 'score1'] = score1
        df.at[row['Unnamed: 0'], 'score2'] = score2
df

,Unnamed: 0,Quarter,Time,Tm,Detail,team1_score,team2_score,week,date,team1,team2,year,score1,score2
Unnamed: 0,,,,,,,,,,,,,,
0,0,1.0,6:05,Dolphins,Olindo Mare 37 yard field goal,0,3,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999,-14.599862,14.599862
1,1,1.0,1:04,Dolphins,J.J. Johnson 18 yard rush (Olindo Mare kick),0,10,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999,-36.926499,36.926499
2,2,2.0,11:10,Eagles,David Akers 53 yard field goal,3,10,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999,-36.152985,36.152985
3,3,2.0,6:26,Dolphins,Olindo Mare 37 yard field goal,3,13,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999,-50.553671,50.553671
4,4,3.0,3:47,Eagles,Brian Dawkins 67 yard interception return (Nor...,10,13,Week 7,"Oct 24, 1999",Philadelphia Eagles,Miami Dolphins,1999,-34.973128,34.973128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113569,113569,3.0,NaN,Cowboys,Daryl Johnston 1 yard rush (Eddie Murray kick),27,6,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993,148.828879,-148.828879
113570,113570,3.0,NaN,Vikings,Scottie Graham 1 yard rush (Fuad Reveiz kick),27,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993,133.582293,-133.582293
113571,113571,4.0,NaN,Cowboys,Eddie Murray 46 yard field goal,30,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993,108.055555,-108.055555
113572,113572,4.0,NaN,Cowboys,Lincoln Coleman 1 yard rush (Eddie Murray kick),37,13,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993,116.893354,-116.893354
113573,113573,4.0,NaN,Vikings,Anthony Carter 9 yard pass from Sean Salisbury...,37,20,Week 15,"Dec 12, 1993",Dallas Cowboys,Minnesota Vikings,1993,108.055555,-108.055555

In [27]:
df.to_csv('../data/scores_with_index.csv')