In [1]:
import pandas as pd
import os
import json
import sys
import sqlite3
module_path = os.path.abspath(os.path.join('.'))
if module_path not in sys.path:
    sys.path.append(module_path)
from calculate import Scorer

In [2]:
df = pd.read_csv('../data/scores.csv')

def get_week(row):
    week = row['old_week']
    return week if week == 'Super Bowl' else week.split(maxsplit=1)[1]

def get_week_order(row):
    week = row['week']
    last = week.split()[1]
    if last.isdigit():
        return int(last)
    if week == 'Wild Card Round':
        return 20
    if week == 'Divisional Round':
        return 21
    if week == 'Conf Champ' or week == 'Championship Round':
        return 22
    if week == 'Super Bowl':
        return 23
    return 0
    

def get_year(row):
    week = row['old_week']
    if week == 'Super Bowl':
        return int(row['date'].split(',')[1].strip()) - 1
    return int(week.split()[0])

def get_quarter(row):
    quarter = row['quarter']
    if quarter.replace('.', '').isdigit():
        return int(float(quarter))
    # Set all OT as 5th quarter
    return 5

df = df.set_index('Unnamed: 0', drop=False)
df = df.rename(columns={'week': 'old_week', 'Tm': 'scoring_team', 'Quarter': 'quarter', 'Time': 'time', 'Detail': 'detail'})
df['week'] = df.apply(get_week, axis=1)
df['year'] = df.apply(get_year, axis=1)
df['week_order'] = df.apply(get_week_order, axis=1)
df['quarter'] = df.apply(get_quarter, axis=1)

df = df.drop(columns=['old_week'])
df[(df['week'] == 'Super Bowl')]

,Unnamed: 0,quarter,time,scoring_team,detail,team1_score,team2_score,date,team1_city,team2_city,team1_mascot,team2_mascot,team1_original_city,team2_original_city,team1_original_mascot,team2_original_mascot,week,year,week_order
Unnamed: 0,,,,,,,,,,,,,,,,,,,
2039,2039,1,14:46,Bears,Devin Hester 92 yard kickoff return (Robbie Go...,0,7,"Feb 4, 2007",Indianapolis,Chicago,Colts,Bears,Indianapolis,Chicago,Colts,Bears,Super Bowl,2006,23
2040,2040,1,6:50,Colts,Reggie Wayne 53 yard pass from Peyton Manning ...,6,7,"Feb 4, 2007",Indianapolis,Chicago,Colts,Bears,Indianapolis,Chicago,Colts,Bears,Super Bowl,2006,23
2041,2041,1,4:34,Bears,Muhsin Muhammad 4 yard pass from Rex Grossman ...,6,14,"Feb 4, 2007",Indianapolis,Chicago,Colts,Bears,Indianapolis,Chicago,Colts,Bears,Super Bowl,2006,23
2042,2042,2,11:17,Colts,Adam Vinatieri 29 yard field goal,9,14,"Feb 4, 2007",Indianapolis,Chicago,Colts,Bears,Indianapolis,Chicago,Colts,Bears,Super Bowl,2006,23
2043,2043,2,6:09,Colts,Dominic Rhodes 1 yard rush (Adam Vinatieri kick),16,14,"Feb 4, 2007",Indianapolis,Chicago,Colts,Bears,Indianapolis,Chicago,Colts,Bears,Super Bowl,2006,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112681,112681,3,2:06,Patriots,James White 5 yard pass from Tom Brady (Stephe...,9,28,"Feb 5, 2017",New England,Atlanta,Patriots,Falcons,New England,Atlanta,Patriots,Falcons,Super Bowl,2016,23
112682,112682,4,9:44,Patriots,Stephen Gostkowski 33 yard field goal,12,28,"Feb 5, 2017",New England,Atlanta,Patriots,Falcons,New England,Atlanta,Patriots,Falcons,Super Bowl,2016,23
112683,112683,4,5:56,Patriots,Danny Amendola 6 yard pass from Tom Brady (Jam...,20,28,"Feb 5, 2017",New England,Atlanta,Patriots,Falcons,New England,Atlanta,Patriots,Falcons,Super Bowl,2016,23
112684,112684,4,0:57,Patriots,James White 1 yard rush (Danny Amendola pass f...,28,28,"Feb 5, 2017",New England,Atlanta,Patriots,Falcons,New England,Atlanta,Patriots,Falcons,Super Bowl,2016,23
112685,112685,5,11:02,Patriots,James White 2 yard rush,34,28,"Feb 5, 2017",New England,Atlanta,Patriots,Falcons,New England,Atlanta,Patriots,Falcons,Super Bowl,2016,23

In [3]:

for group_name, df_group in df.groupby(['date', 'team1_city', 'team2_city']):
    rows = df_group.iterrows()
    length = len(list(rows))
    scorer1 = Scorer()
    scorer2 = Scorer()
    
    for row_index, row in df_group.iterrows():
        score1 = scorer1.calculate(float(row['team1_score']), float(row['team2_score']), row['quarter'], \
            None if pd.isnull(row['time']) else row['time'], row_index == length - 1)
        score2 = scorer2.calculate(float(row['team2_score']), float(row['team1_score']), row['quarter'], \
            None if pd.isnull(row['time']) else row['time'], row_index == length - 1)
        df.at[row['Unnamed: 0'], 'score1'] = score1
        df.at[row['Unnamed: 0'], 'score2'] = score2
df

,Unnamed: 0,quarter,time,scoring_team,detail,team1_score,team2_score,date,team1_city,team2_city,...,team2_mascot,team1_original_city,team2_original_city,team1_original_mascot,team2_original_mascot,week,year,week_order,score1,score2
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,0,1,6:05,Dolphins,Olindo Mare 37 yard field goal,0,3,"Oct 24, 1999",Philadelphia,Miami,...,Dolphins,Philadelphia,Miami,Eagles,Dolphins,Week 7,1999,7,-10.354030,10.354030
1,1,1,1:04,Dolphins,J.J. Johnson 18 yard rush (Olindo Mare kick),0,10,"Oct 24, 1999",Philadelphia,Miami,...,Dolphins,Philadelphia,Miami,Eagles,Dolphins,Week 7,1999,7,-35.964306,35.964306
2,2,2,11:10,Eagles,David Akers 53 yard field goal,3,10,"Oct 24, 1999",Philadelphia,Miami,...,Dolphins,Philadelphia,Miami,Eagles,Dolphins,Week 7,1999,7,-27.471177,27.471177
3,3,2,6:26,Dolphins,Olindo Mare 37 yard field goal,3,13,"Oct 24, 1999",Philadelphia,Miami,...,Dolphins,Philadelphia,Miami,Eagles,Dolphins,Week 7,1999,7,-44.681481,44.681481
4,4,3,3:47,Eagles,Brian Dawkins 67 yard interception return (Nor...,10,13,"Oct 24, 1999",Philadelphia,Miami,...,Dolphins,Philadelphia,Miami,Eagles,Dolphins,Week 7,1999,7,-32.295737,32.295737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113569,113569,3,NaN,Cowboys,Daryl Johnston 1 yard rush (Eddie Murray kick),27,6,"Dec 12, 1993",Dallas,Minnesota,...,Vikings,Dallas,Minnesota,Cowboys,Vikings,Week 15,1993,15,131.985885,-131.985885
113570,113570,3,NaN,Vikings,Scottie Graham 1 yard rush (Fuad Reveiz kick),27,13,"Dec 12, 1993",Dallas,Minnesota,...,Vikings,Dallas,Minnesota,Cowboys,Vikings,Week 15,1993,15,115.271674,-115.271674
113571,113571,4,NaN,Cowboys,Eddie Murray 46 yard field goal,30,13,"Dec 12, 1993",Dallas,Minnesota,...,Vikings,Dallas,Minnesota,Cowboys,Vikings,Week 15,1993,15,102.269135,-102.269135
113572,113572,4,NaN,Cowboys,Lincoln Coleman 1 yard rush (Eddie Murray kick),37,13,"Dec 12, 1993",Dallas,Minnesota,...,Vikings,Dallas,Minnesota,Cowboys,Vikings,Week 15,1993,15,111.622602,-111.622602
113573,113573,4,NaN,Vikings,Anthony Carter 9 yard pass from Sean Salisbury...,37,20,"Dec 12, 1993",Dallas,Minnesota,...,Vikings,Dallas,Minnesota,Cowboys,Vikings,Week 15,1993,15,102.269135,-102.269135

In [4]:
def get_score_order(row):
    time = row['time']
    quarter = row['quarter']
    if pd.isnull(time):
        extra = 1 if quarter == 1 else 0
        return quarter + ((row['rank'] - 1 + extra) / (row['count'] + extra))
    mins, secs = time.split(':')
    res= quarter + (15.0 - (float(mins) + (float(secs) / 60))) / 15.0
    if res > 6:
        print(res)
    return res

df['rank'] = df.groupby(['team1_city', 'team2_city', 'date', 'quarter'])['quarter'].rank(method='first', ascending=True)
df['count'] = df.groupby(['team1_city', 'team2_city', 'date', 'quarter'])['quarter'].rank(method='max', ascending=True)
df['score_order'] = df.apply(get_score_order, axis=1)
df.drop(['rank', 'count'], axis=1)
df[['team1_city', 'team2_city', 'date', 'quarter', 'time', 'score_order']]

              team1_city team2_city          date  quarter   time  score_order
Unnamed: 0
0           Philadelphia      Miami  Oct 24, 1999        1   6:05     1.594444
1           Philadelphia      Miami  Oct 24, 1999        1   1:04     1.928889
2           Philadelphia      Miami  Oct 24, 1999        2  11:10     2.255556
3           Philadelphia      Miami  Oct 24, 1999        2   6:26     2.571111
4           Philadelphia      Miami  Oct 24, 1999        3   3:47     3.747778
...                  ...        ...           ...      ...    ...          ...
113569            Dallas  Minnesota  Dec 12, 1993        3    NaN     3.000000
113570            Dallas  Minnesota  Dec 12, 1993        3    NaN     3.500000
113571            Dallas  Minnesota  Dec 12, 1993        4    NaN     4.000000
113572            Dallas  Minnesota  Dec 12, 1993        4    NaN     4.333333
113573            Dallas  Minnesota  Dec 12, 1993        4    NaN     4.666667

[113574 rows x 6 columns]

In [5]:
df.to_csv('../data/scores_with_index.csv')

In [6]:
df = pd.read_csv('../data/scores_with_index.csv')
if os.path.exists('../serverless-functions/scores.db'):
    os.remove('../serverless-functions/scores.db')
conn = sqlite3.connect('../serverless-functions/scores.db')
c = conn.cursor()
df.to_sql('import_temp', conn, index=False, if_exists='replace')
c.execute('''
CREATE TABLE IF NOT EXISTS week (
    week_id INTEGER PRIMARY KEY,
    year INTEGER,
    week_name TEXT,
    week_order INTEGER
)''')

c.execute('''
CREATE TABLE IF NOT EXISTS team (
    team_id INTEGER PRIMARY KEY,
    original_city TEXT,
    original_mascot TEXT,
    city TEXT,
    mascot TEXT
)''')

c.execute('''
CREATE TABLE IF NOT EXISTS game (
    game_id INTEGER PRIMARY KEY,
    team1_id INTEGER,
    team2_id INTEGER,
    week_id INTEGER
)''')

c.execute('''
CREATE TABLE IF NOT EXISTS score (
    score_id INTEGER PRIMARY KEY,
    game_id INTEGER,
    quarter INTEGER,
    time TEXT,
    scoring_team_id INTEGER,
    detail TEXT,
    team1_game_score INTEGER,
    team2_game_score INTEGER,
    team1_misery_index INTEGER,
    team2_misery_index INTEGER,
    score_order FLOAT
)''')

c.execute('''
insert into week(year, week_name, week_order)
select distinct year, week, week_order from import_temp
''')
conn.commit()

c.execute('''
insert into team(original_city, original_mascot, city, mascot)
with cte as (select team1_original_city as original_city, team1_original_mascot as original_mascot,
team1_city as city, team1_mascot as mascot
from import_temp
union all
select team2_original_city as original_city, team2_original_mascot as original_mascot, 
team2_city as city, team2_mascot as mascot
from import_temp) 
select distinct original_city, original_mascot, city, mascot from cte
''')
conn.commit()

c.execute('''
insert into game(team1_id, team2_id, week_id)
select distinct t1.team_id, t2.team_id, w.week_id from import_temp it
inner join team t1 on it.team1_original_city = t1.original_city and it.team1_original_mascot = t1.original_mascot
inner join team t2 on it.team2_original_city = t2.original_city and it.team2_original_mascot = t2.original_mascot
inner join week w on it.week = w.week_name and it.year = w.year
''')
conn.commit()

c.execute('''
insert into score(game_id, quarter, time, detail, team1_game_score, team2_game_score,
team1_misery_index, team2_misery_index, score_order, scoring_team_id)
select g.game_id, it.quarter, it.time, it.detail, 
it.team1_score, it.team2_score, it.score1, it.score2, it.score_order,
case when it.scoring_team = t1.original_mascot then t1.team_id else t2.team_id end as scoring_team
from import_temp it
inner join team t1 on it.team1_original_city = t1.original_city and it.team1_original_mascot = t1.original_mascot
inner join team t2 on it.team2_original_city = t2.original_city and it.team2_original_mascot = t2.original_mascot
inner join week w on it.week = w.week_name and it.year = w.year
inner join game g on g.team1_id = t1.team_id and g.team2_id = t2.team_id and g.week_id = w.week_id
order by g.game_id, it."Unnamed: 0"
''')
conn.commit()

c.execute('''drop table import_temp''')
conn.commit()

/usr/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(